table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 95%;
}

thead tr {
    margin-bottom: 2.0rem;
}

th {
    font-size: large;
}

td, th {
    overflow-wrap: break-word;
    vertical-align: middle;
}

tr {
    padding: 0.5rem;
}

td .name {
    text-align: left;
    width: 55%;
}

.demo {
    width: 5%;
}

.category, .subcategory {
    flex: 2;
    text-align: center;
    width: 10%;
}

.request {
    border-right: 0;
    width: 8%;
}

.request2 {
    border-left: 0;
    width: 2%;
}

.rating {
    padding: 0 auto;
    width: 10%;
}

.request_text {
    padding-left: 0.5rem;
}

.request_button {
    padding: 0.5rem;
}
