form {
    display: block;
    margin: 0 auto;
}

main form {
    margin-bottom: 2.0rem;
}

table, thead, tbody {
    font-size: small;
    margin: 0 auto;
    width: 95%;
}

.name {
    flex: 3;
}

td .name {
    text-align: left;
}

.demo {
    width: 5%;
}

.category, .subcategory {
    flex: 1;
    text-align: center;
}

.request, .num-times, .last-used {
    flex: 1;
}

.rating {
    flex: 1;
}

.rating_button {
    margin: 0 0.5rem;
}
