{% load static %}
<h1>The "<span>{{ tour.name }}</span>" Tour</h1>
<table>
    <thead>
        <tr>
            <th class="table_date">Date</th>
            <th class="table_cover"></th>
            <th class="table_name">Venue Name</th>
        </tr>
    </thead>
    <tbody>
        {% for venue in venues %}
            <tr>
                <td class="table_date">
                    <a href="{% url 'venue' tour.name venue.name %}">
                        {{ venue.date|date:"Y/m/d"}}
                    </a>
                </td>
                <td class="table_cover">
                    <a href="{% url 'venue' tour.name venue.name %}">
                        <img src="{% static 'img/'|add:tour.name|add:'/'|add:venue.name|add:'/cover.png' %}" alt="Album Cover for '{{ venue.name }}'">
                    </a>
                </td>
                <td class="table_name">
                    <a href="{% url 'venue' tour.name venue.name %}">
                        {{ venue.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
