<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="View all of the tours that ETC Kid has produced in his impressive 5 year career of playing improv on Twitch.">
        <title>ChatBot - Tours</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
        {% include 'widgets/navbar-head.html' %}
    </head>
    <body>
        <header>
            {% include 'widgets/navbar-body.html' %}
        </header>
        <main>
            {% include 'mainsite/tour/tours-body.html' %}
        </main>
    </body>
</html>
