{% load static %}
<script src="{% static 'sounds/js/sounds.js' %}"></script>
<form id="form_search" action="{% url 'sound_search' %}" method=POST>
    {% csrf_token %}
    <label for="search_text">Filter</label>
    <input name="search_text" id="search_text">
    <select name="search_category" id="search_category">
        <option></option>
        {% for category in categories %}
            <option>{{category.text}}</option>
        {% endfor %}
    </select>
    <!--
    <select name="search_subcategory" id="search_subcategory">
        {% for subcategory in subcategories %}
            <option>{{subcategory.text}}</option>
        {% endfor %}
    </select>
    -->
    <button type="submit">Search</button>
</form>
<table>
    <thead>
        <tr>
            <th class="name">Name</th>
            <!--<th class="demo">Demo</th>-->
            <th class="category">Category</th>
            <th class="subcategory">SubCategory</th>
            <th class="request">Request</th>
            <th class="rating">Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for sound in sounds %}
            <tr id="{{sound.code}}">
                <td class="name">
                    <a href="{% url 'sound' sound.code %}">
                        {{sound.name}}
                    </a>
                </td>
                <!--<td class="demo"><audio></audio></td>-->
                <td class="category">{{sound.category.text}}</td>
                <td class="subcategory">{{sound.subcategory.text}}</td>
                <td class="request">
                    {% if sound.category.text == "Drum Kit" %}
                        !drumkit {{sound.code}}
                    {% else %}
                        !sound {{sound.code}}
                    {% endif %}
                </td>
                <td class="rating">
                    <form method=POST action="{% url 'sound_rate' sound.code %}" class="star">
                        {% csrf_token %}

                        <button class="rating_button" type="submit">Rate</button>

                        <input type="radio" name="rating" id="{{sound.code}}-rating-5" value="5"
                            {% if sound.avg_rating == 5 %} checked {% endif %}>
                        <label for="{{sound.code}}-rating-5">☆</label>
                        <input type="radio" name="rating" id="{{sound.code}}-rating-4" value="4"
                            {% if sound.avg_rating == 4 %} checked {% endif %}>
                        <label for="{{sound.code}}-rating-4">☆</label>
                        <input type="radio" name="rating" id="{{sound.code}}-rating-3" value="3"
                            {% if sound.avg_rating == 3 %} checked {% endif %}>
                        <label for="{{sound.code}}-rating-3">☆</label>
                        <input type="radio" name="rating" id="{{sound.code}}-rating-2" value="2"
                            {% if sound.avg_rating == 2 %} checked {% endif %}>
                        <label for="{{sound.code}}-rating-2">☆</label>
                        <input type="radio" name="rating" id="{{sound.code}}-rating-1" value="1"
                            {% if sound.avg_rating == 1 %} checked {% endif %}>
                        <label for="{{sound.code}}-rating-1">☆</label>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>onPageLoad()</script>
