* {
    border:  0;
    margin:  0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
}

.row {
    display: flex;
}

label {
    margin: auto 0.5rem;
    text-align: right;
}

button, input, textarea, select {
    border:        solid 0.1rem #967969;
    border-radius: 0.3rem;
    margin:        0.5rem 0;
    padding:       0.2rem 0.5rem;
}

button:focus, input:focus, textarea:focus {
    border-color: #A2E8DD;
    box-shadow: 0.2rem 0.2rem #A2E8DD;
}


button[type=submit] {
    display:          block;
    margin:           0.5rem auto;
}

img {
    height: 100px;
    width: 100px;
    margin-right: 2rem;
}

td {
    border: solid 0.1rem #967969;
    overflow: wrap;
    vertical-align: top;
}
