<h1>{{ user.username }}</h1>

<h2>Total Requests Used: {{ total }}</h2>
<p>Click on any header's arrow to find details on each request.</p>
<article>

    {% if bpm.count > 0 %}
        <div>
            <input type="checkbox" id="bpm-checkbox">
            <label for="bpm-checkbox">&#10147;</label>
            <h4>BPM requests [{{ bpm.count }}]</h4>
            <ul>
                {% for bpm in bpm %}
                <li>
                    <a href="{% url 'song' bpm.used_on_track.venue.tour.url_slug bpm.used_on_track.venue.url_slug bpm.used_on_track.url_slug %}">
                        {{ bpm.used_on_track.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if key.count > 0 %}
        <div>
            <input type="checkbox" id="key-checkbox">
            <label for="key-checkbox">&#10147;</label>
            <h4>Key requests [{{ key.count }}]</h4>
            <ul>
                {% for key in key %}
                <li>
                    <a href="{% url 'song' key.used_on_track.venue.tour.url_slug key.used_on_track.venue.url_slug key.used_on_track.url_slug %}">
                        {{ key.used_on_track.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if drumloop.count > 0 %}
        <div>
            <input type="checkbox" id="drumloop-checkbox">
            <label for="drumloop-checkbox">&#10147;</label>
            <h4>Drum Loop requests [{{ drumloop.count }}]</h4>
            <ul>
                {% for loop in drumloop %}
                <li>
                    <a href="{% url 'song' loop.used_on_track.venue.tour.url_slug loop.used_on_track.venue.url_slug loop.used_on_track.url_slug %}">
                        {{ loop.used_on_track.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if drumfill.count > 0 %}
        <div>
            <input type="checkbox" id="drumfill-checkbox">
            <label for="drumfill-checkbox">&#10147;</label>
            <h4>Drum Fill requests [{{ drumfill.count }}]</h4>
            <ul>
                {% for fill in drumfill %}
                <li>
                    <a href="{% url 'song' fill.used_on_track.venue.tour.url_slug fill.used_on_track.venue.url_slug fill.used_on_track.url_slug %}">
                        {{ fill.used_on_track.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if drumkit.count > 0 %}
        <div>
            <input type="checkbox" id="drumkit-checkbox">
            <label for="drumkit-checkbox">&#10147;</label>
            <h4>Drumkit requests [{{ drumkit.count }}]</h4>
            <ul>
                {% for kit in drumkit %}
                <li>
                    <a href="{% url 'song' kit.used_on_track.venue.tour.url_slug kit.used_on_track.venue.url_slug kit.used_on_track.url_slug %}">
                        {{ kit.used_on_track.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if sound.count > 0 %}
        <div>
            <input type="checkbox" id="sound-request-checkbox">
            <label for="sound-request-checkbox">&#10147;</label>
            <h4>Sound requests [{{ sound.count }}]</h4>
            <ul>
                {% for sound in sound %}
                <li>
                    <a href="{% url 'song' sound.used_on_track.venue.tour.url_slug sound.used_on_track.venue.url_slug sound.used_on_track.url_slug %}">
                        {{ sound.used_on_track.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if instrument.count > 0 %}
        <div>
            <input type="checkbox" id="instrument-checkbox">
            <label for="instrument-checkbox">&#10147;</label>
            <h4>Instrument requests [{{ instrument.count }}]</h4>
            <ul>
                {% for instrument in instrument %}
                <li>
                    <a href="{% url 'song' instrument.used_on_track.venue.tour.url_slug instrument.used_on_track.venue.url_slug instrument.used_on_track.url_slug %}">
                        {{ instrument.used_on_track.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if lyric.count > 0 %}
        <div>
            <input type="checkbox" id="lyric-checkbox">
            <label for="lyric-checkbox">&#10147;</label>
            <h4>Lyric Inspirations [{{ lyric.count }}]</h4>
            <ul>
                {% for lyric in lyric %}
                <li>
                    <a href="{% url 'song' lyric.used_on_track.venue.tour.url_slug lyric.used_on_track.venue.url_slug lyric.used_on_track.url_slug %}">
                        {{ lyric.used_on_track.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if Tours.count > 0 %}
        <div>
            <input type="checkbox" id="tour-checkbox">
            <label for="tour-checkbox">&#10147;</label>
            <h4>Tours named [{{ Tours.count }}]</h4>
            <ul>
                {% for tour in Tours %}
                <li>
                    <a href="{% url 'tour' tour.url_slug %}">
                        {{ tour.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if Venues.count > 0 %}
        <div>
            <input type="checkbox" id="venue-checkbox">
            <label for="venue-checkbox">&#10147;</label>
            <h4>Venues named [{{ Venues.count }}]</h4>
            <ul>
                {% for venue in Venues %}
                <li>
                    <a href="{% url 'venue' venue.tour.url_slug venue.url_slug %}">
                        {{ venue.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if Songs.count > 0 %}
        <div>
            <input type="checkbox" id="song-checkbox">
            <label for="song-checkbox">&#10147;</label>
            <h4>Songs named [{{ Songs.count }}]</h4>
            <ul>
                {% for song in Songs %}
                <li>
                    <a href="{% url 'song' song.venue.tour.url_slug song.venue.url_slug song.url_slug %}">
                        {{ song.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if Sounds_Named.count > 0 %}
        <div>
            <input type="checkbox" id="sound-named-checkbox">
            <label for="sound-named-checkbox">&#10147;</label>
            <h4>Sounds named [{{ Sounds_Named.count }}]</h4>
            <ul>
                {% for sound in Sounds_Named %}
                <li>
                    <a href="{% url 'sound' sound.code %}">
                        {{ sound.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if Covers.count > 0 %}
        <div>
            <input type="checkbox" id="cover-checkbox">
            <label for="cover-checkbox">&#10147;</label>
            <h4>Cover Images Found [{{ Covers.count }}]</h4>
            <ul>
                {% for cover in Covers %}
                <li>
                    <a href="{% url 'venue' cover.venue.tour.url_slug cove.venue.url_slug %}">
                        {{ cover.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

</article>
