<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Basic history about the user {{ user.username }}">
        <title>ChatBot - {{user.username }}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'users/css/user.css'    %}">
        {% include 'widgets/navbar-head.html' %}
    </head>
    <body>
        <header>
            {% include 'widgets/navbar-body.html' %}
        </header>
        <main>
            {% include 'users/user-body.html' %}
        </main>
    </body>
</html>
