{% load static %}
<h1>Live from "{{ venue.name }}"</h1>
<h3>on the "{{ venue.tour.name }}" Tour</h3>
<h3>named by <a href="{% url 'user' venue.named_by.username %}">{{ venue.named_by.username }}</a></h3>
<article>
    <div id="cover">
        <img src="{% static 'img/'|add:venue.tour.name|add:'/'|add:venue.name|add:'/cover.png' %}" alt="Picture of the album title for the venue {{ venue.name }}">
        <p>Incoporates and/or remixes "{{venue.cover.title}}" by {{venue.cover.artist}} ({{venue.cover.year}})</p>
        {% if venue.cover.found_by %}
            <p>Found by
                <a href="{% url 'user' venue.cover.found_by.username %}">
                    {{venue.cover.found_by.username}}
                </a>
            </p>
        {% endif %}
    </div>
    <table>
        <thead>
            <tr>
                <th class="table_track">Track #</th>
                <th class="table_title">Title</th>
                <th class="table_length">Length</th>
                <th class="table_rating">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td class="table_track">
                        <a href="{% url 'song' venue.tour.name venue.name song.title %}">
                            {{ song.track_number }}
                        </a>
                    </td>
                    <td class="table_title">
                        <a href="{% url 'song' venue.tour.name venue.name song.title %}">
                            {{ song.title}}
                        </a>
                    </td>
                    <td class="table_length">
                        <a href="{% url 'song' venue.tour.name venue.name song.title %}">
                            {{ song.length }}
                        </a>
                    </td>
                    <td class="table_rating">
                        <form method=POST action="{% url 'song_rate' venue.name venue.tour.name song.title %}" class="star">
                            <input type="radio" name="song{{track_number}}_rating" id="song{{track_number}}-rating-5">
                            <label for="song{{song.track_number}}-rating-5">☆</label>
                            <input type="radio" name="song{{track_number}}_rating" id="song{{track_number}}-rating-4">
                            <label for="song{{song.track_number}}-rating-4">☆</label>
                            <input type="radio" name="song{{track_number}}_rating" id="song{{track_number}}-rating-3">
                            <label for="song{{song.track_number}}-rating-3">☆</label>
                            <input type="radio" name="song{{track_number}}_rating" id="song{{track_number}}-rating-2">
                            <label for="song{{song.track_number}}-rating-2">☆</label>
                            <input type="radio" name="song{{track_number}}_rating" id="song{{track_number}}-rating-1">
                            <label for="song{{song.track_number}}-rating-1">☆</label>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
