<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="View info from the song '{{ song.title }}', performed live at the '{{ song.venue.name }}' venue, as improvised by ETC Kid on {{ song.venue.date|date:'Y/m/d'}}.">
        <title>ChatBot - Live from "{{ song.venue.name }}" on the "{{ song.venue.tour.name }}" Tour</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'mainsite/css/song.css'    %}">
        {% include 'widgets/navbar-head.html' %}
    </head>
    <body>
        <header>
            {% include 'widgets/navbar-body.html' %}
        </header>
        <main>
            {% include 'mainsite/song/song-body.html' %}
        </main>
    </body>
</html>
