<p>Live from "{{ song.venue.name }}" on the "{{ song.venue.tour.name }}" Tour...</p>
<h1>{{ song.title }}</h1>
<h2>Named by {{ song.named_by.username }}</h2>
<h3>Requested Song Details</h3>
<table id="details">
    <thead>
        <tr>
            <th class="type">Type</th>
            <th class="value">Value</th>
            <th class="user">Requested By</th>
        </tr>
    </thead>
    <tbody>
        {% for b in Bpm %}
            <tr>
                <td class="type">BPM</td>
                <td class="value">{{ b.text }}</td>
                <td class="user">
                    <a href="{% url 'user' b.requested_by.username %}">
                        {{ b.requested_by.username }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for k in Key %}
            <tr>
                <td class="type">Key</td>
                <td class="value">{{ k.text }}</td>
                <td class="user">
                    <a href="{% url 'user' k.requested_by.username %}">
                        {{ k.requested_by.username }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Drums</h3>
<table id="drums">
    <thead>
        <tr>
            <th class="type">Loop/Fill</th>
            <th class="value">Phrase</th>
            <th class="user">Submitted By</th>
        </tr>
    </thead>
    <tbody>
        {% for loop in Drum_Loops %}
            <tr>
                <td class="type">Loop</td>
                <td class="value">"{{ loop.text }}"</td>
                <td class="user">
                    <a href="{% url 'user' loop.requested_by.username %}">
                        {{ loop.requested_by.username }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for fill in Drum_Fills %}
            <tr>
                <td class="type">Fill</td>
                <td class="value">"{{ fill.text }}"</td>
                <td class="user">
                    <a href="{% url 'user' fill.requested_by.username %}">
                        {{ fill.requested_by.username }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Sounds</h3>
<table id="sounds">
    <thead>
        <tr>
            <th class="value">Name</th>
            <th class="type">Category</th>
            <th class="type">Subcategory</th>
            <th class="user">Requested By</th>
       </tr>
    </thead>
    <tbody>
        {% for d in Drumkit %}
            <tr>
                <td class="value">
                    <a href="{% url 'sound' d.sound.code %}">
                        {{ d.sound.name }}
                    </a>
                </td>
                <td class="type">
                        {{ d.sound.category.text }}
                </td>
                <td class="type">
                        {{ d.sound.subcategory.text }}
                </td>
                <td class="user">
                    <a href="{% url 'user' d.requested_by.username %}">
                        {{ d.requested_by.username }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for s in Sounds %}
            <tr>
                <td class="value">
                    <a href="{% url 'sound' s.sound.code %}">
                        {{ s.sound.name }}
                    </a>
                </td>
                <td class="type">
                        {{ s.sound.category.text }}
                </td>
                <td class="type">
                        {{ s.sound.subcategory.text }}
                </td>
                <td class="user">
                    <a href="{% url 'user' s.requested_by.username %}">
                        {{ s.requested_by.username }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Instruments</h3>
<table id="instruments">
    <thead>
        <tr>
            <th class="value">Instrument</th>
            <th class="user">Played By</th>
            <th class="type">Chat Vote?</th>
        </tr>
    </thead>
    <tbody>
        {% for i in Instruments %}
            <tr>
                <td class="value">{{ i.instrument.name }}
                <td class="user">
                    <a href="{% url 'user' i.played_by.username %}">
                        {{ i.played_by.username }}
                    </a>
                </td>
                <td class="type">Yes</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if Lyric_Inspiration|length > 0 %}
    <table id="Lyric Inspirations">
        <thead>
            <tr>
                <th class="value">Lyrical Idea</th>
                <th class="user">Submitted By</th>
            </tr>
        </thead>
        <tbody>
            {% for l in Lyric_Inspiration %}
                <tr>
                    <td class="value">"{{ l.text }}"</td>
                    <td class="user">
                        <a href="{% url 'user' l.requested_by.username %}">
                            {{ l.requested_by.username }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
