<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="View a list of all songs.">
        <title>ChatBot - Songs</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'mainsite/css/songs.css'   %}">
        {% include 'widgets/navbar-head.html' %}
    </head>
    <body>
        <header>
            {% include 'widgets/navbar-body.html' %}
        </header>
        <main>
            {% include 'mainsite/song/songs-body.html' %}
        </main>
    </body>
</html>
