<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="ChatBot Website">
        <title>ChatBot</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
        {% include 'widgets/navbar-head.html' %}
    </head>
    <body>
        <header>
            {% include 'widgets/navbar-body.html' %}
        </header>
        <main>
            <a href="/tours">Tours</a>
            <a href="/sounds">Sounds</a>
        </main>
    </body>
</html>
