<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="View the songs for the 'Fountain Of Shadows' venue, as improvised by ETC Kid on May 15th, 2021..">
        <title>ChatBot - Live from 'Fountain Of Shadows' on the 'Sorry For Monologging' Tour</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
    </head>
    <body>
        {% include 'mainsite/navbar.html' %}
        <h3>Live from 'Fountain Of Shadows' on the 'Sorry For Monologging' Tour</h3>
        <h1>Fuel On The Fire</h1>
        <h3>Named by StaphyGames</h3>
        <h3>Requested Song Details</h3>
        <table id="details">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Requested By</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BPM</td>
                    <td>88</td>
                    <td>DuelElite1</td>
                </tr>
                <tr>
                    <td>Key</td>
                    <td>A minor</td>
                    <td>dugDbug</td>
                </tr>
            </tbody>
        </table>
        <h3>Drums</h3>
        <table id="drums">
            <thead>
                <tr>
                    <th>Loop/Fill</th>
                    <th>Phrase</th>
                    <th>Submitted By</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Loop</td>
                    <td>'unactractiveness'</td>
                    <td>StaphyGames
                    </td>
                </tr>
                <tr>
                    <td>Loop</td>
                    <td>'Not_today_Young_one'</td>
                    <td>Na_Roon</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'we_r_all_animals'</td>
                    <td>StaphyGames
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'frighten_travesty'</td>
                    <td>much0mas</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'aimless_babylon'</td>
                    <td>much0mas</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'MrRobertTables'</td>
                    <td>MrRobertTables</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'MrRobertTables'</td>
                    <td>MrRobertTables</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'Poe_In_Lightened'</td>
                    <td>dugDbug</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'BDay'</td>
                    <td>DomDude64</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'one'</td>
                    <td>DomDude64</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>Fun_Improve</td>
                    <td>Na_Roon</td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>'GuyOnASkateboard'</td>
                    <td>GuyOnASkateboard</td>
                </tr>
            </tbody>
        </table>
        <h3>Sounds</h3>
        <table id="sounds">
            <thead>
                <tr>
                    <th>Sound Name</th>
                    <th>Sound Category</th>
                    <th>Requested By</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SoCal Kit</td>
                    <td>Drumkit</td>
                    <td>DuelElite1</td>
                </tr>
                <tr>
                    <td>Echolocation Synth</td>
                    <td>Synth</td>
                    <td>explodedsoada</td>
                </tr>
                <tr>
                    <td>Solo Cello</td>
                    <td>Strings</td>
                    <td>Brukos</td>
                </tr>
                <tr>
                    <td>Massive Grime Bass</td>
                    <td>Bass</td>
                    <td>angryCHKN</td>
                </tr>
                <tr>
                    <td>Miming Under The Influence</td>
                    <td></td>
                    <td>GuyOnASkateboard</td>
                </tr>
                <tr>
                    <td>No idea?</td>
                    <td></td>
                    <td>pete_mouse</td>
                </tr>
                <tr>
                    <td>Justice for Romeo and Juliet</td>
                    <td></td>
                    <td>GDBiLL</td>
                </tr>
            </tbody>
        </table>
        <h3>Instruments</h3>
        <table id="instruments">
            <thead>
                <tr>
                    <th>Instrument</th>
                    h>Played By</th>
                    <th>Chat Vote?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Otto, Tooby's musical cousin (Otamatone)</td>
                    <td>ETC KID</td>
                    <td>Yes</td>
                </tr>
            </tbody>
    </body>
</html>
