<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="View info from the song '{{ song.title }}', performed live at the '{{ song.venue.name }}' venue, as improvised by ETC Kid on {{ song.venue.date|date:'Y/m/d'}}.">
        <title>ChatBot - Live from "{{ song.venue.name }}" on the "{{ song.venue.tour.name }}" Tour</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
    </head>
    <body>
        {% include 'mainsite/navbar.html' %}
        <h3>Live from "{{ song.venue.name }}" on the "{{ song.venue.tour.name }}" Tour</h3>
        <h1>{{ song.title }}</h1>
        <h3>Named by {{ song.named_by.username }}</h3>
        <h3>Requested Song Details</h3>
        <table id="details">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Requested By</th>
                </tr>
            </thead>
            <tbody>
                {% for b in Bpm %}
                    <tr>
                        <td>BPM</td>
                        <td>{{ b.text }}</td>
                        <td>{{ b.requested_by.username }}</td>
                    </tr>
                {% endfor %}
                {% for k in Key %}
                    <tr>
                        <td>Key</td>
                        <td>{{ k.text }}</td>
                        <td>{{ k.requested_by.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Drums</h3>
        <table id="drums">
            <thead>
                <tr>
                    <th>Loop/Fill</th>
                    <th>Phrase</th>
                    <th>Submitted By</th>
                </tr>
            </thead>
            <tbody>
                {% for loop in Drum_Loops %}
                    <tr>
                        <td>Loop</td>
                        <td>{{ loop.text }}</td>
                        <td>{{ loop.requested_by.username }}</td>
                    </tr>
                {% endfor %}
                {% for fill in Drum_Fills %}
                    <tr>
                        <td>Fill</td>
                        <td>{{ fill.text }}</td>
                        <td>{{ fill.requested_by.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Sounds</h3>
        <table id="sounds">
            <thead>
                <tr>
                    <th>Sound Name</th>
                    <th>Sound Category</th>
                    <th>Requested By</th>
               </tr>
            </thead>
            <tbody>
                {% for d in Drumkits %}
                    <tr>
                        <td>{{ d.sound.name }}</td>
                        <td>{{ d.sound.category.text }}</td>
                        <td>{{ d.sound.requested_by.username }}</td>
                    </tr>
                {% endfor %}
                {% for s in Sounds %}
                    <tr>
                        <td>{{ s.sound.name }}</td>
                        <td>{{ s.sound.category.text }}</td>
                        <td>{{ s.sound.requested_by.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Instruments</h3>
        <table id="instruments">
            <thead>
                <tr>
                    <th>Instrument</th>
                    <th>Played By</th>
                    <th>Chat Vote?</th>
                </tr>
            </thead>
            <tbody>
                {% for i in Instruments %}
                    <tr>
                        <td>{{ i.instrument.name }}
                        <td>{{ i.played_by.username }}</td>
                        <td>Yes</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="Lyric Inspirations">
            <thead>
                <tr>
                    <th>Lyrical Idea</th>
                    <th>Submitted By</th>
                </tr>
            </thead>
            <tbody>
                {% for l in Lyric_Inspiration %}
                    <tr>
                        <td>{{ l.text }}</td>
                        <td>{{ l.requested_by.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
