<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="View all of the tours that ETC Kid has produced in his impressive 5 year career of playing improv on Twitch.">
        <title>ChatBot - Tours</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
    </head>
    <body>
        {% include 'mainsite/navbar.html' %}
        <h1>Tours</h1>
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Tour Name</th>
                </tr>
            </thead>
            <tbody>
                {% for tour in tours %}
                    <tr>
                        <td>{{ tour.month|date:"F Y"}}</td>
                        <td><a href="{% url 'tour' tour.name %}">The "{{ tour.name }}" Tour</a></td>
                    </tr>
                {% endfor %}
            </tbody>
    </body>
</html>
