<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="View the venues for the 'Sorry For Monologging' tour in May 2021, as improvised by ETC Kid.">
        <title>ChatBot - The 'Sorry For Monologging' Tour</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
    </head>
    <body>
        {% include 'mainsite/navbar.html' %}
        <h1>The <span>Sorry For Monologging</span> Tour</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th></th>
                    <th>Venue Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>May 1st, 2021</td>
                    <td><img src="{% static 'img/The Fields Of Heaven/cover.png' %}" alt="Album Cover for 'The Fields Of Heaven'"></td>
                    <td>The Fields Of Heaven</td>
                </tr>
                <tr>
                    <td>May 6th, 2021</td>
                    <td><img src="{% static 'img/The Man From Tomorrow/cover.png' %}" alt="Album Cover for 'The Man From Tomorrow'"></td>
                    <td>The Man From Tomorrow</td>
                </tr>
                <tr>
                    <td>May 7th, 2021</td>
                    <td><img src="{% static 'img/Travels/cover.png' %}" alt="Album Cover for 'Travels'"></td>
                    <td>Travels</td>
                </tr>
                <tr>
                    <td>May 8th, 2021</td>
                    <td><img src="{% static 'img/Then You Start With Just One/cover.png' %}" alt="Album Cover for 'Then You Start With Just One'"></td>
                    <td>Then You Start With Just One</td>
                </tr>
                <tr>
                    <td>May 13th, 2021</td>
                    <td><img src="{% static 'img/Fish Eyes/cover.png' %}" alt="Album Cover for 'Fish Eyes'"></td>
                    <td>Fish Eyes</td>
                </tr>
                <tr>
                    <td>May 14th, 2021</td>
                    <td><img src="{% static 'img/Springtime On The Farm/cover.png' %}" alt="Album Cover for 'Springtime On The Farm'"></td>
                    <td>Springtime On The Farm</td>
                </tr>
                <tr>
                        <td>
                            <a href="/Sorry For Monologging/Fountain Of Shadows">
                                May 15th, 2021
                            </a>
                        </td>
                        <td>
                            <a href="/Sorry For Monologging/Fountain Of Shadows">
                                <img src="{% static 'img/Fountain Of Shadows/cover.png' %}" alt="Album Cover for 'Fountain Of Shadows'">
                            </a>
                        </td>
                        <td>
                            <a href="/Sorry For Monologging/Fountain Of Shadows">
                                Fountain Of Shadows
                            </a>
                        </td>
                    </a>
                </tr>
                <tr>
                    <td>May 20th, 2021</td>
                    <td><img src="{% static 'img/Artificial Bones/cover.png' %}" alt="Album Cover for 'Artificial Bones'"></td>
                    <td>Artificial Bones</td>
                </tr>
                <tr>
                    <td>May 21st, 2021</td>
                    <td><img src="{% static 'img/Tending The Field/cover.png' %}" alt="Album Cover for 'Tending The Field'"></td>
                    <td>Tending The Field</td>
                </tr>
                <tr>
                    <td>May 22nd, 2021</td>
                    <td><img src="{% static 'img/I Might Change My Name To Soap/cover.png' %}" alt="Album Cover for 'I Might Change My Name To Soap'"></td>
                    <td>I Might Change My Name To Soap</td>
                </tr>
                <tr>
                    <td>May 28th, 2021</td>
                    <td><img src="{% static 'img/Oversleeping/cover.png' %}" alt="Album Cover for 'Oversleeping'"></td>
                    <td>Oversleeping</td>
                </tr>
                <tr>
                    <td>May 29th, 2021</td>
                    <td><img src="{% static 'img/Fear Of The Park/cover.png' %}" alt="Album Cover for 'Fear Of The Park'"></td>
                    <td>Fear Of The Park</td>
                </tr>
            </tbody>
    </body>
</html>
