<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="View all of the tours that ETC Kid has produced in his impressive 5 year career of playing improv on Twitch.">
        <title>ChatBot - Tours</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainsite/css/default.css' %}">
    </head>
    <body>
        {% include 'mainsite/navbar.html' %}
        <h1>Tours</h1>
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Tour Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>January 2021</td>
                    <td>Photocopiers With Sledgehammers</td>
                </tr>
                <tr>
                    <td>February 2021</td>
                    <td>Groundhog Conspiracy</td>
                </tr>
                <tr>
                    <td>March 2021</td>
                    <td>Starbound</td>
                </tr>
                <tr>
                    <td>April 2021</td>
                    <td>Tours For Fears</td>
                </tr>
                <tr>
                    <td>May 2021</td>
                    <td><a href="/Sorry For Monologging">Sorry For Monologging</a></td>
                </tr>
            </tbody>
    </body>
</html>
