table, ul {
    margin-bottom: 2.0rem;
}

.summary {
    flex: 1;
}

tr {
    text-align: center;

}

th {
    transform: rotate(-30deg);
}

th, td {
    font-size:  small;
    text-align: center;
    width:      2.5rem;
}

p {
    text-align: center;
    font-size: small;
    margin-bottom: 1.5rem;
}

article {
    display:        flex;
}

@media (max-width: 479px) {
    article {
        flex-direction: column;
    }
}

@media (min-width: 480px) {
    article {
        flex-direction: row;
        flex-wrap:      wrap;
        justify-content: flex-start;
        gap:            1.0rem;
    }

    article div {
        border: 0.1rem black solid;
        border-radius: 0.2rem;
        flex: 0 0 45%;
        padding: 0.3rem;
    }
}

@media (min-width: 800px) {
    article div {
        flex: 0 0 30%;
    }
}

input[type="checkbox"] {
    display:   none;
}

h4 {
    display: inline-block;
}

ul {
    display: none;
}

label {
    display:   inline-block;
    font-size: x-large;
    margin:    0;
    position:  relative;
}

input[type="checkbox"]:checked + label {
    transform: rotate(90deg);
}

input[type="checkbox"]:checked ~ ul {
    display: block;
}
